.flexy-flex {
  display: flex;
  flex-direction: row; /* you can use row or column */
  align-items: center;
  justify-content: center;
}

.synopsis {
  text-decoration: underline; 
  text-align: center; 
}
.plan-head {
    border: 1px solid grey;
    margin: 15px;
    padding: 15px;
    border-radius: 4px;
    background: #fdfdfd;
    h1{
      text-align: center;
    }
}

li {
  list-style-type: none;
}

.trash-icon {
  margin-left: 5px;
}

