.flexy-flex {
  display: flex;
  flex-direction: row; /* you can use row or column */
  align-items: center;
  justify-content: center;
}

.synopsis { 
  text-align: center; 
  margin: 0 auto;
  max-width: 85%;
  color: white;
}

.plan-head {
    border: 1px solid white;
    min-width: 500px;
    margin: 20px;
    padding: 15px;
    border-radius: 4px;
    background: #192f42;
    h1{
      text-align: center;
      color: white;
    }
}

li {
  list-style-type: none;
}

.trash-icon {
  margin-left: 5px;
}

ul.plan-links {
  padding: 20px;
}

#plan-page {
  background-color: #192f42;
  margin-top: -20px;
}

.plan-links .panel-default {
  box-shadow: 0;
  font-size: 1.3em;
}

.panel .panel-heading {
  background: #ddd;
  border-bottom: 1px solid #aaa;
  padding-bottom: 0;
}

h4 {
  border-bottom-width: 0;
}
.panel.panel-default {
  box-shadow: none;
}

