.flexy-flex {
  display: flex;
  flex-direction: row; /* you can use row or column */
  align-items: center;
  justify-content: center;
}

.synopsis { 
  text-align: center; 
}

.plan-head {
    border: 1px solid grey;
    min-width: 500px;
    margin: 20px;
    padding: 15px;
    border-radius: 4px;
    background: #fdfdfd;
    h1{
      text-align: center;
    }
}

li {
  list-style-type: none;
}

.trash-icon {
  margin-left: 5px;
}

ul.plan-links {
  padding: 20px;
}

#plan-page {
  background-color: #e0e0e0;
  margin-top: -20px;
}

.plan-links .panel-default {
  box-shadow: 4px 4px 2px #888888;
  background: #ffe;
}

.panel .panel-heading {
  background: #ffd;
  border-bottom: 1px solid #eee;
}

h4 {
  border-bottom-width: 0;
}


