#featured-plans {
  padding: 0;
  margin: 0;
}
.center-wrapper{
  width:80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style-type: none;
  h4{
    margin-left:5%;
  }
  li{
    margin-left: 10%;
  }
}

.row{
  width:100%;
  margin-left:0;
  margin-right:0;
}

.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
}

