<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
<p>Ur in space/Edit</p>
 
  <form class="form" name="form" ng-submit="submitEditPlan(form)" novalidate>

    <div class="form-group">
      <label>Plan Title</label>
  
      <input type="text" name="title" class="form-control" ng-model="plan.title" required>
    </div>

    <div class="form-group">
      <label>Synopsis</label>

      <input type="text" name="synopsis" class="form-control" ng-model="plan.synopsis" required>

    </div> 

     <div class="form-group">
      <label>Edit Links</label>
      <div>
        <ul>
          <li ng-repeat="l in plan.links" class="links">
            <div class="edit-buttons">
              <a class="glyphicon glyphicon-edit" ng-click="editLinkUrl(l, plan)"></a>  
              <a class="glyphicon glyphicon-trash" ng-click="removeLink(l, plan)"></a>
            </div>
            <span>{{l.url}}</span><br>
            <span>{{l.description}}</span>
          </li>
        </ul>
      </div>
    </div>
    
    
    <div class="form-group">
      <label>Link url</label>
      <input type="url" placeholder="Link url" name="url" class="form-control" ng-model="link.url">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" placeholder="Description" name="description" class="form-control" ng-model="link.description">
    </div>



    <label></label>
    <input class="btn btn-small btn-default" ng-click="addAnotherLinkInEdit()" value="Edit/Add another link" />

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.title.$error.required && submitted">
         Please enter a title.
      </p>

      <p class="help-block">{{ errors.other }}</p>
    </div>

    <div>
      <button class="btn btn-inverse btn-lg btn-login" type="submit">
        Update Plan
      </button>

    </div>


  </form>
</div>