<div class="container">
  <div class="col-md-12">

    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

    <ul class="plans">
      <a ui-sref="newPlan">
        <button class="btn btn-info" ng-show="isLoggedIn()">Create a new plan!</button>
      </a>

      <form class="form-search">
        <input type="search" ng-model="search" class="form-control input-medium search-query" placeholder="Search Bar">
      </form>

      <label class="formgroup">Category:
        <select ng-model="category">
          <option value="">All</option>
          <option value="Math">Math</option>
          <option value="Science">Science</option>
          <option value="Music">Music</option>
          <option value="Languages">Languages</option>
          <option value="Food">Food</option>
          <option value="DIY">DIY</option>
          <option value="Skittles">Skittles</option>
          <option value="Nature">Nature</option>
          <option value="Funny">Funny</option>
          <option value="Geography">Geography</option>
          <option value="Life">Life</option>
          <option value="The Universe">The Universe</option>
          <option value="and Everything Else">and Everything Else</option>
          <option value="other">Other</option>
        </select>
      </label>



      <label class="formgroup">Category:

        <select ng-model="starValue"><option value="">All Ratings</option>
          <option value="4">4 Star and above</option>
          <option value="3">3 Star</option>
          <option value="2">2 Star</option>
          <option value="1">1 Star</option>

        </select>
      </label>

      <li ng-repeat="plan in plans | filter:search | filter:category | filter:greaterThan(starValue)" class="plan">
        <a ng-href="/plan/{{plan._id}}">
          <span ng-click="incrementCount(plan)">{{plan.title}}</span>

        </a>
         <span>{{plan.category}}</span>
        <div class="edit-buttons">

          <span > {{ ((plan.rating.score / plan.rating.num).toFixed(2)) }} Average star rating</span>
          <rating ng-model="plan.rating.avg" max="max" ng-click="addRating(plan, plan.rating.avg)" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
          <a class="glyphicon glyphicon-edit" ng-href="/plan/edit/{{plan._id}}"></a>
          <a class="glyphicon glyphicon-trash" ng-click="deletePlan(plan)"></a>
        </div>
        <br/>
        <span>{{plan.synopsis}}</span>
      </li>

    </ul>
  </div>
</div>
